.ContentsSection {
  color: white;
  position: relative;
  width: 100vw;
  height: auto;
  top: 0px;
  display: flex;
  justify-content: center;
}

/* .ContentsHead {
  position: relative;
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
} */
.ContentsMainLogoFixed {
  display: flex;
  z-index: 5;
  position: absolute;
  margin-top: 50px;
  margin-left: 80px;
  width: 500px;
  height: 150px;
}
.ContentsMainLogo {
  position: relative;
  width: 150px;
  height: auto;
}
.ContentsMainText {
  margin-top: 44px;
  font-size: 55px;
  margin-left: -10px;
  /* font-weight: bold; */
  color: lightgray;
  font-family: "Arirang";
}
.ContentsBackFixed {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100vw;
  height: auto;
}

.ContentsImg {
  position: absolute;
  width: 2100px;
  height: 1152px;
}

.ContentsTextMain {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 200px;
}

.ContentsLogo {
  position: relative;
  width: 400px;
  margin-left: 50px;
  height: auto;
  z-index: 2;
}

.ContentsTextTitle {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 30px;
  margin-left: 50px;
  z-index: 3;
  text-shadow: 2px 2px 3px grey;
}
.ContentsTextBody {
  z-index: 3;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-top: 50px;
  text-shadow: 1.5px 1.5px 2px grey;
}

.ContentsInfo {
  font-size: 15px;
  opacity: 0.7;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  text-shadow: 1.5px 1.5px 2px grey;
}

.Infospace {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -2px;
}

/* .gradevertical {
  margin-top: -3px;
} */

.ContentsActorInfo {
  margin-top: 20px;
  font-size: 15px;
  opacity: 0.7;
  text-shadow: 1.5px 1.5px 2px grey;
}
.ContentsVideo {
  position: absolute;
  top: 240px;
  right: 80px;
  /* opacity: 0.8; */
}

.ContentsLine {
  position: absolute;
  display: block;
  width: 100vw;
  height: 1px;
  margin-bottom: 50px;
  background-color: rgb(70, 70, 70);
}

.Buy {
  display: flex;
  z-index: 3;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: auto;
  margin-top: 350px;
}

.BuyText {
  background-color: red;
  border-radius: 10px;
  width: 500px;
  height: 60px;
  color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Contentscontens {
  width: 500px;
  height: auto;
}

.black {
  background: linear-gradient(
    90deg,
    #181818 10%,
    hsla(0, 0%, 9%, 0.98) 20%,
    hsla(0, 0%, 9%, 0.97) 25%,
    hsla(0, 0%, 9%, 0.95) 35%,
    hsla(0, 0%, 9%, 0.94) 40%,
    hsla(0, 0%, 9%, 0.92) 45%,
    hsla(0, 0%, 9%, 0.9) 50%,
    hsla(0, 0%, 9%, 0.87) 55%,
    hsla(0, 0%, 9%, 0.82) 60%,
    hsla(0, 0%, 9%, 0.75) 65%,
    hsla(0, 0%, 9%, 0.63) 70%,
    hsla(0, 0%, 9%, 0.45) 75%,
    hsla(0, 0%, 9%, 0.27) 80%,
    hsla(0, 0%, 9%, 0.15) 85%,
    hsla(0, 0%, 9%, 0.08) 90%,
    hsla(0, 0%, 9%, 0.03) 95%,
    hsla(0, 0%, 9%, 0)
  );
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: -200px;
  top: 0px;
  z-index: 1;
  width: 800px;
  height: 1200px;
}
