.MovieContentList {
  color: white;
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 20px;
}
.MovieContentPageTitle {
  position: absolute;
  color: white;
  text-align: center;
  width: 1700px;
  height: 80px;
  font-size: 40px;
  font-weight: bold;
  top: 50px;
}
.MovieContentPageSubTitle {
  position: absulute;
  font-size: 20px;
  font-weight: 100;
}

.MovieContentLine {
  position: absolute;
  width: 100vw;
  height: 1px;
  background-color: rgb(70, 70, 70);
}

.MovieListFixed {
  position: relative;
  display: absolute;
  top: 250px;
  width: 1700px;
  height: 1200px;
}

.MovieItemImg {
  margin-bottom: 10px;
  display: block;
  margin-left: 48px;
  cursor: pointer;
}
.MovieItemList {
  position: relative;
  display: inline-block;
  margin: 5px 10px 5px 10px;
  width: 400px;
  height: auto;
  text-align: center;
}

.MovieItemFixed {
  display: flex;
  flex-direction: column;
}

.MovieItemGrade {
  opacity: 0.5;
}

.MovieItemTitle {
  font-weight: bold;
  /* margin-bottom: 50px; */
}

.MovieItemActor {
  font-size: 15px;
  margin-top: 5px;
  margin-bottom: 20px;
}

.FavoriteBt {
  position: relative;
  top: -10px;
  margin-bottom: 30px;
  color: white;
  font-weight: 500;
  font-size: 15px;
  width: 40px;
  height: 30px;
  border-radius: 10px;
  background-color: rgb(255, 56, 56);
}

.addbutton {
  cursor: pointer;
  width: 30px;
  height: 30px;
  position: relative;
  margin-left: -5px;
  margin-top: -2px;
}
