@font-face {
  font-family: "HappinessBold";
  src: url(../src/font/Happiness-Sans-Bold.otf);
}

@font-face {
  font-family: "HappinessRegular";
  src: url(../src/font/Happiness-Sans-Regular.otf);
}

@font-face {
  font-family: "HappinessTitle";
  src: url(../src/font/Happiness-Sans-Title.otf);
}

@font-face {
  font-family: "Arirang";
  src: url(../src/font/JSArirang.otf);
}

body {
  font-family: "HappinessRegular";
}
